* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    padding: 10px 20px;
    align-items: center;
    background-color: rgba(#eee, 0.8);
    box-shadow: 0 2px 5px #ccc;
    .logo {
        img {
            width: 60px;
            height: 60px;
        }
    }
    .linkwed {
        a {
            text-decoration: none;
            color: black;
            margin: 0 30px;
        }
    }
    .linkPic {
        a {
            text-decoration: none;
            img {
                width: 40px;
            }
        }
    }
}
.mySwiper {
    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}
