* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  padding: 10px 20px;
  align-items: center;
  background-color: rgba(238, 238, 238, 0.8);
  box-shadow: 0 2px 5px #ccc;
}
nav .logo img {
  width: 60px;
  height: 60px;
}
nav .linkwed a {
  text-decoration: none;
  color: black;
  margin: 0 30px;
}
@media screen and (max-width: 450px) {
  nav .linkwed a {
    margin: 0 5px;
  }
}
nav .linkPic a {
  text-decoration: none;
}
nav .linkPic a img {
  width: 40px;
}
@media screen and (max-width: 768px) {
  nav .linkPic {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  nav {
    width: 767px;
    grid-template-columns: 20% 65% 15%;
  }
}
@media screen and (max-width: 450px) {
  nav {
    width: 100%;
    grid-template-columns: 16% 69% 30%;
  }
}

.mySwiper {
  position: relative;
}
.mySwiper img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arr {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: auto !important;
  height: auto !important;
  transform: translateY(-50%);
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.newsBox {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}
.newsBox .news {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-gap: 20px;
  grid-template-areas: " new_left new_right";
}
@media screen and (max-width: 768px) {
  .newsBox .news {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .newsBox .news {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}
.newsBox .news .news_left {
  grid-area: new_left;
}
.newsBox .news .news_left h3 {
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .newsBox .news .news_left h3 {
    margin: 10px 72px;
  }
}
@media screen and (max-width: 450px) {
  .newsBox .news .news_left h3 {
    margin: 10px 130px;
  }
}
@media screen and (max-width: 768px) {
  .newsBox .news .news_left hr {
    margin: 0 10px;
  }
}
.newsBox .news .news_left p {
  padding: 10px;
  width: 300px;
  line-height: 2;
}
@media screen and (max-width: 450px) {
  .newsBox .news .news_left p {
    margin: 5px 32px;
  }
}
.newsBox .news .news_left a {
  text-decoration: none;
  padding: 8px 50px;
  border: 1px #226641 solid;
  color: #226641;
  transition: 0.5s;
}
.newsBox .news .news_left a:hover {
  color: #eee;
  background-color: #226641;
}
@media screen and (max-width: 768px) {
  .newsBox .news .news_left a {
    margin: 0 57px;
  }
}
@media screen and (max-width: 450px) {
  .newsBox .news .news_left a {
    margin: 120px;
  }
}
.newsBox .news .news_right {
  grid-area: new_right;
}
.newsBox .news .news_right img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .newsBox .news .news_right img {
    padding: 10px 30px;
    width: 470px;
    height: 280px;
  }
}
@media screen and (max-width: 450px) {
  .newsBox .news .news_right img {
    margin: 10px auto;
    width: 100%;
  }
}
.newsBox .newTwo {
  grid-template-areas: "new_right new_left  ";
  grid-template-columns: 65% 35%;
}

.contentBox {
  width: 1200px;
  margin: 0 auto;
  height: 900px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 900px) {
  .contentBox {
    display: none;
  }
}
.contentBox img {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  .contentBox img {
    width: 100px;
    height: 100px;
  }
}
.contentBox .one_2 h3 {
  text-align: center;
  margin: 10px;
}
.contentBox p {
  padding: 10px 0 30px;
}
.contentBox a {
  padding: 8px 50px;
  text-decoration: none;
  border: 1px #226641 solid;
  transition: 0.5s;
}
.contentBox a:hover {
  color: #eee;
  background-color: #226641;
}

@media screen and (min-width: 900px) {
  .contentBox_768 {
    display: none;
  }
}
.contentBox_768 .content_768 {
  display: flex;
  margin: 0 20px;
}
@media screen and (max-width: 450px) {
  .contentBox_768 .content_768 {
    margin: 16px;
  }
}
.contentBox_768 img {
  width: 350px;
  height: 320px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 450px) {
  .contentBox_768 img {
    width: 200px;
    height: 730px;
    margin: -169px 8px;
  }
}
.contentBox_768 h3 {
  margin: 10px;
}
.contentBox_768 p {
  margin: 10px 0;
  padding: 10px 0;
}
.contentBox_768 a {
  border: 1px #226641 solid;
  padding: 10px 15px;
  text-decoration: none;
  transition: 0.5s;
}
.contentBox_768 a:hover {
  background-color: #226641;
  color: #eee;
}

.end {
  background-color: #eee;
  margin-top: 100px;
  padding: 50px;
  text-align: center;
}
.end .end_2 {
  padding: 10px;
}
.end .end_2 img {
  width: 50px;
  height: 50px;
}
.end .end_3 {
  margin: 20px 0;
}
.end .end_3 a {
  text-decoration: none;
  color: #226641;
}
.end .copy {
  color: rgb(146, 144, 144);
}/*# sourceMappingURL=style.css.map */